/* @import url('https://fonts.googleapis.com/css2?family=Explora&display=swap'); */

  /* @import url('https://fonts.googleapis.com/css2?family=Explora&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
body{
    font-family: 'Courier New', Courier, monospace;
    background: #4d71a1;
   
    
}
h1{
    margin-top: 100px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: rgb(243, 234, 184);
}
.content h3{
    font-family: 'alkatra';
     color: white;
    font-size: 32px;
    font-weight: 900;
}

.content p{
    font-size: 20px;
    color: rgb(0, 204, 255);
    
    display: inline-block;
}
.btn{
    background-color: blue;
    border: none;
    border-radius: 7px;
    color: aliceblue;
    padding: 7px;
    margin: auto;
    display: block;
    cursor: pointer;

}
.btn:hover{
    background-color:black;
}
@media (min-width:586px) {
    .container{
        
        background:#4d71a1;
        width: 500px;
        height: 700px;
        text-align: center;
        object-fit: contain;
        display: flex;
        align-items: center;
        margin: auto;
    }  
    .content{
        margin: auto;
        color: white;
        font-weight: bolder;
        padding: 20px;
        width: 650px;
        box-sizing: border-box;
        position: relative;
        top: 0px;
        }
        
}
@media (max-width:586px) {
    
    .container{
       
        width: 700px;
        background:#4d71a1;
        height: 1000px;
        margin-top: 100px;

        text-align: center;
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .content{
        width: 650px;
        box-sizing: border-box;
        display: block;
        margin: auto;
        padding: 60px;
        color: rgb(255, 255, 255);
        font-weight: bolder;
        }
    .content h3{
        font-size: 47px !important; 
    }
    .btn{
        padding: 12px;
        font-size: 27px;
        font-weight: bold;
    }
    .content p{
        font-size: 22px;
    }
}